nav{
  position: fixed;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}
nav.open{
  pointer-events: all;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: $blue;
  color: $white;
  font-size: 50px;
  border-radius: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 15px;
  transform: scale(0.8);
  padding: 0;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 20;
  pointer-events: all;
}

.menu-icon.open{
  background: $yellow;
  color: $black;
}

.menu-bar {
  width: 50px;
  height: 5px;
  background: rgb(190, 190, 190);
  position: absolute;
  transition: all 0.3s;
}

.menu {
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu-con {
  -webkit-flex-grow: 1;
  flex-basis: 0;
  flex-grow: 1;
  display: -webkit-flex;
  display: flex;
  min-width: 50%;
  -webkit-justify-content: space-around;
  position: relative;
  top: -100%;
  transition: all 0.5s;
  text-decoration: none;
}

.menu-con:nth-child(1){
  background: $yellow;
}
.menu-con:nth-child(2){
  background: $red;
}
.menu-con:nth-child(3){
  background: $orange;
}
.menu-con:nth-child(4){
  background: $green;
}
.menu-con:nth-child(5){
  background: $blue;
}

.menu-con p:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-con:hover p:before {
  background: rgba(0, 0, 0, 0.2)
}

.menu-con p {
  -webkit-align-self: center;
  color: $black;
  font-size: 40px;
  z-index: 2;
  cursor: pointer;
  margin:0;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 80px;
  a{
    height: 80px;
  }
  .icon {
    height: 100%;
    filter: brightness(0) invert(0);
  }
}

@include mobile {
  .menu-con p {
    font-size: 25px;
  }

  .icons {
    padding: 0 10px;
    a{
      height: 55px;
    }
  }
}
