.image-card {
  min-height: 100%;
  padding: 5px;
  width: 300px;
  .card {
    height: 100%;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
    .card-body {
      text-align: left;
      .red{
        background-color: $red;
        color: $white;
      }
      .yellow{
        background-color: $yellow;
        color: $white;
      }
      .green{
        background-color: $green;
        color: $white;
      }
      .blue{
        background-color: $blue;
        color: $white;
      }
      .orange{
        background-color: $orange;
        color: $white;
      }
      .card-title {
        display: flex;
        font-weight: bold;
        font-size: 32px;
        line-height: 1em;
        color: $black;
        padding-bottom: 6px;
      }
    }
  }
}

@include tablet {
  .image-card {
    .card {
      .card-body {
        .card-title {
          font-size: 25px;
        }
      }
    }
  }
}

