.image-card {
  min-height: 100%;
  padding: 5px;
  .card {
    height: 100%;
    .card-body {
      text-align: left;
      .card-title {
        display: flex;
        font-weight: bold;
        font-size: 32px;
        line-height: 1em;
        color: $black;
        padding-bottom: 6px;
      }
    }
  }
}

@include tablet {
  .color-card {
    .card {
      .card-body {
        .card-title {
          font-size: 25px;
        }
      }
    }
  }
}

