.color-card {
  min-height: 100%;
  .card {
    height: 100%;
    .card-body {
      .card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: Barlow, sans-serif;
        font-weight: bold;
        font-size: 32px;
        line-height: 1em;
        color: $black;
        border-bottom: 4px solid;
        padding-bottom: 6px;
      }
    }
  }
}

.color-card:nth-child(1){
  .card {
    .card-body {
      .card-title {
        border-color: $yellow;
      }
    }
  }
}


.color-card:nth-child(2){
  .card {
    .card-body {
      .card-title {
        border-color: $orange;
      }
    }
  }
}

.color-card:nth-child(3){
  .card {
    .card-body {
      .card-title {
        border-color: $red;
      }
    }
  }
}

@include tablet {
  .color-card {
    .card {
      .card-body {
        .card-title {
          font-size: 25px;
        }
      }
    }
  }
}

