.normal-card {
  min-height: 100%;
  padding: 5px;
  .card {
    height: 100%;
    .card-body {
      text-align: left;
      .card-title {
        text-align: center;
        font-weight: bold;
        font-size: 32px!important;
        line-height: 1em;
        color: $black;
        padding-bottom: 6px;
        border-bottom: $black 5px solid;
      }
    }
  }
}

@include tablet {
  .normal-card {
    .card {
      .card-body {
        .card-title {
          font-size: 25px;
        }
      }
    }
  }
}
