.normal-card {
  min-height: 100%;
  padding: 5px;
  width: 300px;
  .card {
    height: 100%;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
    max-height: 417.5px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    .card-body {
      text-align: left;
      .card-title {
        text-align: center;
        font-weight: bold;
        font-size: 32px!important;
        line-height: 1em;
        color: $black;
        padding-bottom: 6px;
        border-bottom: $black 5px solid;
      }
    }
  }
  .card::-webkit-scrollbar {
    display: none;
  }
}

@include tablet {
  .normal-card {
    .card {
      .card-body {
        .card-title {
          font-size: 25px;
        }
      }
    }
  }
}

@include mobile {
  .normal-card {
    .card{
      max-height: 375.5px;
      overflow-y: scroll;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
    }
    .card::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }
  }
}
